{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb/legacy", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": ["svelte3"],
  // "overrides": [
  //   {
  //     "files": ["*.svelte"],
  //     "processor": "svelte3/svelte3"
  //   }
  // ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [2, "only-multiline"],
    "no-var": 2,
    "arrow-body-style": [2, "as-needed"],
    "prefer-const": "error",
    "no-restricted-syntax": "off",
    "no-unused-expressions": "off"
  }
}
