:root {
  --color-accent: #432fd8;
  --color-accent-light: #edebfc;
  --color-black: #000;
  --color-dark: #393940;
  --color-dark-grey: #797979;
  --color-grey: #b0b0b3;
  --color-light-grey: #ccc;
  --color-lotion: #fbfbfb;
  --color-light: #fff;
  --color-error: #eb5757;
  --color-success: #00b98d;
  --color-highlight: #ebff00;
}
