html,
body {
  width: 100%;
  min-width: 320px;

  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

:focus {
  outline: none;
}

input {
  margin: 0;
  border-radius: 0;

  &[type="text"],
  &[type="email"],
  &[type="password"] {
    appearance: none;
  }
}

textarea {
  appearance: none;
}

.button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }
}

.main-top {
  &_left_wrapper {
    display: flex;
    position: absolute;
    top: 16px;
    left: 18px;
    transition: opacity 0.2s, visibility 0.2s;
  }

  &_right_wrapper {
    display: flex;
    position: absolute;
    top: 16px;
    right: 18px;
  }
}

.mode-switcher {
  position: absolute;
  right: 10px;
  bottom: 60px;
}

.svelte-select {
  touch-action: none !important;

  input {
    touch-action: none !important;
  }

  input {
    cursor: pointer !important;
  }

  .chevron + div,
  .clear-select + div {
    left: -1px !important;
    border: 1px solid var(--color-accent);
  }

  .svelte-select-list {
    border-right: 8px solid transparent;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: var(--color-accent);
    }
  }

  .list-item {
    border: 1px solid transparent;
  }

  .item {
    cursor: pointer !important;

    &.hover:not(.active) {
      opacity: 0.5;
    }
  }
}

.year-select {
  .chevron + div {
    left: 16px !important;
    min-width: 92px !important;
  }

  .svelte-select-list {
    left: 50% !important;
    transform: translateX(-50%);

    .item {
      overflow: visible !important;
      text-overflow: initial !important;
    }
  }
}

.autocomplete {
  .svelte-select {
    padding: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;

    > div:not([class]) {
      top: 41px !important;
    }

    .chevron + div,
    .clear-select + div {
      border: 0;
    }
  }

  &.is-search {
    .focused ~ .floating-label {
      overflow: hidden;
      transform: translateY(-15px);
      opacity: 0.6;
      font-size: 13px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    input {
      height: 24px !important;
      line-height: 24px !important;
    }

    @media (max-width: 767px) {
      .empty {
        max-width: 270px;
        margin: auto;
      }
    }
  }

  .svelte-select-list:not(:empty) {
    padding: 4px 0;
    border-right: 8px solid transparent;
    outline: 1px solid var(--color-accent);

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: var(--color-accent);
    }
  }

  &-container &.select {
    width: 100%;

    .autocomplete-input.input {
      width: 530px;
      max-width: 100%;
      padding: 6px 0;
      border: 0;
      border-bottom: 1px solid var(--color-dark);
      color: var(--color-dark);
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;

      &::placeholder {
        padding-left: 2px;
        color: var(--color-dark);
        font-weight: normal;
      }

      &:focus {
        border-bottom-color: var(--color-accent);
        outline: 0;
      }
    }

    .autocomplete-list {
      margin-top: 5px;
      padding: 4px 0;
      border: 1px solid var(--color-accent);

      &.empty {
        display: none;
      }

      &-item {
        padding: 7px 20px;
        color: var(--color-dark);
        transition: color 0.3s;

        &.selected {
          background-color: transparent;
          color: var(--color-dark);

          .name {
            opacity: 0.5;
          }
        }

        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:hover {
            .name {
              opacity: 0.5;
            }
          }
        }

        .name {
          font-size: 18px;
          line-height: 1.22;
        }

        .type {
          opacity: 0.6;
          font-size: 13px;
          line-height: 1.22;
        }
      }
    }
  }
}

.artist.title {
  span {
    color: var(--color-dark-grey);
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.embed-link {
  > *,
  iframe {
    width: 100%;
  }

  iframe {
    display: block;
  }
}

.video {
  > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .tiktok-embed {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .autocomplete {
    &-container &.select {
      .autocomplete-input.input {
        width: 100%;
        max-width: none;
      }
    }
  }
}
