body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.main-top {
  &_left_wrapper {
    display: flex;
    position: absolute;
    top: 16px;
    left: 18px;
  }

  &_right_wrapper {
    display: flex;
    position: absolute;
    top: 16px;
    right: 18px;
  }
}

.mode-switcher {
  position: absolute;
  right: 10px;
  bottom: 60px;
}

.add-spot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  background-color: var(--color-light);
}
