/* The switch - the box around the slider */
.switcher {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;

  &-slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    border-radius: 34px;
    background-color: #ccc;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      bottom: 4px;
      left: 4px;
      width: 26px;
      height: 26px;
      transition: 0.4s;
      border-radius: 50%;
      background-color: white;
    }
  }

  input {
    width: 0;
    height: 0;
    opacity: 0;

    &:checked +.switcher-slider {
      background-color: var(--color-accent);

      &::before {
        transform: translateX(26px);
      }
    }

    &:focus +.switcher-slider {
      box-shadow: 0 0 1px var(--color-accent);
    }
  }
}
